:root{
    --fontWeight400:400;
    --widthFull:100%;

    --black:#000;
    --orangeText:#EC4221;
    --greenText:#05C166;
    --grayText:rgba(31, 31, 31, 0.5);;
    --blueText:#007AF5;
    --grayMist:#95A9AB;
}
html{
    font-family: 'poppinsregular';
    height: 100%;

}
input{
    font-family: 'poppinsregular';
}
html::before{
    background: none;
}

body{
    height: 100%;
    position: relative;
}
@font-face {
    font-family: 'poppinsregular';
    src: url('/poppins-regular-webfont.woff2') format('woff2'),
         url('/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}    

/* js logic */

.container.Monitoring{
    
}
.container.Planogram,
.container.Keyword
{
display: none;
}


/* / */

.blur_box,
.blur_box2
{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 98;
    top: 0;
}
.blur_box2{
    background: rgba(0, 0, 0, 0.25);
}
.date_popup{
    height: 50%;
    width: 50%;
    position: absolute;
display: none;
}
/* .blur_box.blur_active{
    display: block;

} */
.date_popup.date_popup_active{
    display: block;
}

.wrapper{
    background: #F5FBFC;
    height: 100%;
}

.container{
    width: 100%;
    padding: 10px;
    height: calc(100% - 44px);
}


input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em black;
}

/* homepage */
.loginBar{
    width: var(--widthFull);
    background: #fff;
    height: calc(85/1920 * 100vw);
    padding: calc(20/1920 * 100vw);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: calc(5/1920 * 100vw);
}
.loginBar .btn{
    background: none;
    font-weight: var(--fontWeight400);
    font-size: calc(24/1920 * 100vw);
    color: black;
}
.loginBar .select{
    position: relative;
    font-size: calc(30/1920 * 100vw);
    font-weight: var(--fontWeight400);
    font-family: 'poppinsregular';
    border: none;
    outline: none;
    width: 17%;
    cursor: pointer;z-index: 99;
}
.loginBar .select img.rotate{
    transform: rotate(180deg);
}
.loginBar .options{
    height: 0;
    position: absolute;
    top: calc(103/1920 * 100vw);
    left: calc(20/1920 * 100vw);
    background: #FFFFFF;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
border-radius: 0 0 calc(10/1920 * 100vw) calc(10/1920 * 100vw);
/* padding: 0; */
transition: all 0.5s;
width: 17%;
z-index: 99;}

.option{
    display: none;
    margin: calc(20/1920 * 100vw);
    font-size: calc(30/1920 * 100vw);
    cursor: pointer;
    z-index: 99;
}
.options.options_active{
    height: auto;
    transition: all 0.5s;
}
.option.option_active{
    display: block;
}
.loginBar .homepage_userLogin img{
    display: block;
    height: 20px !important;
    width: 20px !important;
    margin-right: 5px;
}
.homepage img{
    width: 68%;
    height: 100%;
}
.homepage .logIn_div{
    width: 30%;
    height: 75%;
}
.homepage .form{
    justify-content: space-around;
    width: var(--widthFull);
    height: var(--heightFull);
    background: #FFFFFF;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
border-radius: 10.3px;
padding: calc(50/1920 * 100vw) calc(20/1920 * 100vw);
}
.homepage .form div{
    width: 100%;
}
.homepage .form .rememberMe_div {
    justify-content: flex-start;
}
.homepage .form .rememberMe_div input[type="checkbox"],
.homepage .form .rememberMe_div label{
    margin-right:5px;
    color:var(--blueText);
    font-size:calc(16/1920 * 100vw);
}

.homepage .form input:not([type=checkbox]){
    background: #D9D9D9;
border-radius: calc(5/1920 * 100vw);
height: calc(50/1920 * 100vw);
width: var(--widthFull);
padding: calc(20/1920 * 100vw);

}
.homepage .form a
{
    color:var(--blueText);
    text-decoration: underline;
    text-align: right;
    display: block;
    font-size: calc(16/1920 * 100vw);
}
.homepage .form #signin_btn{
    background: #EFEFEF;
    border: 0.7px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    width: var(--widthFull);
    padding:calc(10/1920 * 100vw);
    color: var(--grayText);
}
.homepage .form h2{
    font-size: 17.5px;
font-weight: 400;
line-height: 51px;
letter-spacing: 0.2px;

}
.homepage .form label{
    font-size: calc(20/1920 * 100vw);
    text-align: left;
}









/* ra Monitoring */

.Monitoring.display_flex{
    justify-content: space-around;
}
.Monitoring .inside_div {
    width: 40%;
}
.Monitoring .inside_div:hover {
   transform: scale(1.1);
}
.Monitoring .inside_div img {
    width: 100%;
    height: 80%;
}
.Monitoring .inside_div p {
    width: 80%;
    line-height: calc(51/1920 * 100vw);
    font-weight: var(--fontWeight400);
    font-size: calc(34/1920 * 100vw);
    margin: 0 auto;
}




/* keyword page */

.Keyword.display_flex_col {
    justify-content: space-between;
}
.Keyword.container,
.Planogram.container
{
    padding: calc(30/1920 * 100vw ) 0;
}
.Keyword .inside_div,
.Planogram .inside_div
{
    width: 100%;
}
.Keyword .inside_div:nth-child(1),
.Planogram .data .inside_div
{
    height: 22%;
    background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
border-radius: calc(5/1920 * 100vw);
padding: calc(26/1920 * 100vw) calc(20/1920 * 100vw);

}
.Keyword .inside_div:nth-child(1) > div {
width: 25%;

}
.Keyword .inside_div:nth-child(1) > div div,
.Keyword .inside_div:nth-child(2) >  div,
.Keyword .inside_div:nth-child(2) >  div div

 {
width: 100%;
}
.Keyword .inside_div:nth-child(1) > div div div{
    width: auto;
}
.Keyword .inside_div:nth-child(2) > div > div:nth-child(1)
 {
height: 10%;
padding: calc(32/1920 * 100vw) calc(20/1920 * 100vw);
}
.Keyword .inside_div:nth-child(2) > div > div:nth-child(2)
 {
height: 10%;
padding: calc(40/1920 * 100vw);
}
.Keyword .inside_div:nth-child(2) > div > div:nth-child(3)
 {
height: 80%;
padding: calc(40/1920 * 100vw);
overflow-y: scroll;
position: relative;
overflow-x: hidden;
}
.Keyword .inside_div:nth-child(2) > div > div:nth-child(3) > div{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 40px;
}
.Keyword .inside_div:nth-child(2) > div > div:nth-child(2) div
 {
/* height: 100%; */
}


.Keyword .inside_div:nth-child(2) >  div div:nth-child(2) div:nth-child(1){
    align-items: flex-start;
    justify-content: space-between;
}

.Keyword .inside_div:nth-child(2) >  div {
width: 100%;

}
.Keyword .inside_div:nth-child(1) > div label{
    font-size: calc(24/1920 * 100vw);

}
.Keyword .inside_div:nth-child(1) > div input,
.Keyword .inside_div:nth-child(1) > div select {
    background: #FFFFFF;
    border: 1px solid #95A9AB;
    border-radius: calc(5/1920 * 100vw);
    padding: 0 calc(10/1920 * 100vw);
    color: var(--grayMist);
    font-size: calc(16/1920 * 100vw);
    height: calc(40/1920 * 100vw);
    width: calc(300/1920 * 100vw);
    outline: none;
}

.Keyword .inside_div:nth-child(1) > div input:focus,
.Keyword .inside_div:nth-child(1) > div select:focus{
    color: black;
}
.Keyword .inside_div:nth-child(1) > div input[type="date"]{
    width: calc(145.5/1920 * 100vw);

}
.Keyword .inside_div:nth-child(1) > div select option{
    color: black;
}
.Keyword .inside_div:nth-child(1) > div #search_btn ,
.btn,
.Keyword .inside_div:nth-child(1) > div #reset_btn
 {
    font-weight: 700;
    font-size: calc(24/1920 * 100vw);
    font-family: 'poppinsregular';
line-height: calc(36/1920 * 100vw);
color: #fff;
padding: calc(12/1920 * 100vw);
width: 100%;
background: linear-gradient(270deg, #447AEC 0%, #2A5CDC 100%);
border-radius: calc(5/1920 * 100vw);
justify-content: center;
height: calc(60/1920 * 100vw);
}
.Keyword .inside_div:nth-child(1) > div #reset_btn{
padding: calc(10/1920 * 100vw);

    border:2px solid #95A9AB;
    background: white;
    color: var(--grayMist);
}
.Keyword .inside_div:nth-child(1) > div #reset_btn img,
.Keyword .inside_div:nth-child(1) > div #search_btn img{
width: calc(24/1920 * 100vw);
vertical-align: text-top;
}

.Keyword .inside_div:nth-child(2),
.Planogram > .inside_div:nth-child(1)
{
    height: 75%;
    
}
.Keyword .inside_div:nth-child(2) h2{
    font-size: calc(30/1920 * 100vw);
    font-weight: 600;
}
.Keyword .inside_div:nth-child(2) h2:nth-child(3),
.Keyword .inside_div:nth-child(2) h2:nth-child(4)
{
    font-size: calc(30/1920 * 100vw);
    font-weight: 500;
}
.Keyword .inside_div:nth-child(2) p{
    font-size: calc(20/1920 * 100vw);
}
.hovering {
    padding:calc(10/1920 * 100vw);
    height: calc(50/1920 * 100vw);
    border: 1px solid transparent;
    border-radius: calc(5/1920 * 100vw);
}
.nothovering{
    height: calc(50/1920 * 100vw);
}
.hovering:hover{
    border-radius: calc(5/1920 * 100vw);
    border: 1px solid var(--blueText);
    background: linear-gradient(270deg, rgba(68, 122, 236, 0.05) 0%, rgba(42, 92, 220, 0.05) 100%);
}
.Keyword .inside_div:nth-child(2) h2 strong{
    font-weight: 400;
    font-size: calc(30/1920 * 100vw);
}
.Keyword .inside_div:nth-child(2) h1{
    font-size: calc(40/1920 * 100vw);
    
}
.Keyword .inside_div:nth-child(1) > div,
.Keyword .inside_div:nth-child(2) > div
{
    height: 100%;
    justify-content: space-evenly;
}
.Keyword .inside_div:nth-child(2)  > div:nth-child(1){
    align-items: flex-start;
}
.Keyword .inside_div:nth-child(2) > div:nth-child(2){
    align-items: flex-end;
}
.Keyword .inside_div.display_flex{
    justify-content: space-between;
}





/* .Planogram */

.Planogram.container{
    justify-content: flex-start;
}
.Planogram > .inside_div:nth-child(1)
{
    height: 14%;
    align-items: stretch;
}
.Planogram .inside_div:nth-child(1) div
{
   justify-content: space-around;
   padding: 2px 0;
}
.Planogram .inside_div:nth-child(1) div p
{
   width: 10%;
}
.Planogram .data{
    width: 100%;
    justify-content: flex-start;
    overflow-y: scroll;
    position: relative;
}
.Planogram .data .inside_div{
    height: 13%;
    align-items: stretch;
    margin: 3px 0;
}.Planogram .data .inside_div:hover{
    background: linear-gradient(270deg, rgba(68, 122, 236, 0.1) 0%, rgba(42, 92, 220, 0.1) 100%);
}
.Planogram .data .inside_div p{
   font-size: calc(20/1920 * 100vw);
}
.Planogram .data .inside_div img{
    height: 100%;
    width: 12%;
    position: relative;
}
.lightbox div:nth-child(1){
    height: 85%;
    width: 100%;
    margin: 0 auto;
    display: block;
    margin: 10px 0;
}
.lightbox div img{
    height: 100%;
    width: 100%;
}
.lightbox{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 50%;
    width: 50%;
    z-index: 99;
    display: none;
    background: white;
    padding: 10px;
    justify-content: space-between;
}
.lightbox .btn{
    width: 40%;
}
.lightbox.show{
    display: block;
}
.verified{
    background: rgba(149, 169, 171, 0.5);
border-radius: 2px;
}
.Planogram .inside_div div{
    justify-content: space-around;
}
.Planogram .data .inside_div div p{
    width: 10%;
}
.Planogram .inside_div p{
    font-size: calc(30/1920 * 100vw);
}
.correct,.verified{
    color: var(--greenText);
    font-weight: 300;
}
.incorrect,.unverified{
    color: var(--orangeText);
}
.verify{
    display: none;

}
#verify{
    z-index: 101;
}
